.about{
    padding: 80px 0 100px 0;
}

.about__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__content{
    max-width: 430px;
    padding-left: 120px;
}