.about__img{
    width: 300px;
    height: 408px;
}

.about__content{
    display: flex;
    flex-direction: column; 
    margin: 14px 0 0 120px;
    width: 430px;

    &__title{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 25px;
        @include h3;

        &_spacing{
            letter-spacing: 0.27rem;
        }
    }
    
    &__text{
        display: flex;
        @include paragraph-i;
        color: $color-dark-xl;
        margin-bottom: 25px;
    }
    &__text:last-child{
        margin-bottom: 0;
    }
}

