.donation{
    background-color: $color-light-l;
}

.donation__img{
    margin: 0;
    margin-right: 30px;
    width: 505px;
    height: 261px;
}

.donation__content{
    display: flex;
    flex-direction: column;

    .donation__title{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 20px;
        @include h3;
    }
    
    .donation__subtitle{
        color: $color-dark-l;
        margin-bottom: 20px;
        @include h5;
    }
    
    .credit__card{
        display: flex;
        width: 350px;
        background: $color-primary;
        border-radius: 9px;
        padding: 10px 15px;

        .card__img{
            width: 30px;
            height: 23px;
        }

        .card__number{
            padding-left: 15px;

            >.card__number_link{
                text-decoration: none;
                @include h4;
                @extend %font-add;
                color: $color-dark-l;
            }
        }
    }
    
    
}

.donation__info{
    @include paragraph-s;
    color: $color-dark-m;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-top: 20px;
}