.help__header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    @include h3;
}

.help__content{
    width: 1026px;
    display: grid;
    grid-template-rows: 1fr 1fr;

    //flex-direction: column;
    //align-items: flex-start;
    justify-content: stretch;
    align-content: stretch;
    //width: 100%;

    &_row{
        display: grid;
        grid-template-columns: repeat(5, 20%);

        >row-one{
            align-items: start;
            justify-items: start;
        }
    }

    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.help__logo{
    margin-bottom: 30px;
}

.help__text{
    @include h4;
    color: $color-dark-l;
    }