.hero{
    padding-top: 60px;
}

.hero__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 42px;
}

.hero__title{
    color: $color-light-xl;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4.4rem;
    line-height: 130%;
    min-width: 310px;
}

.hero__subtitle{
    margin-top: 42px;
    color: $color-dark-s;
    line-height: 160%;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
}