.hero{
    padding-top: 60px;
}

.hero__img{
    width: 698px;
    height: 728px;
}

.hero__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.hero__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 42px;
    margin-top: 163px;
}

.hero__title{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 42px;
    color: $color-light-xl;
    @include h2;
    min-width: 310px;
}

.hero__subtitle{
    margin: auto;
    color: $color-dark-s;
    @include paragraph-i;
    max-width: 460px;
}
