.pets{
    padding: 80px 0 100px 0;
    background-color: $color-light-l;
}

.pets__header{
    @extend %display-column;
    @include h3;
}

.pets__content{
    width: 100%;
    @include columns($width: 5%);

    .pets__slider{
        @extend %display-flex;
        margin: 60px 53px 60px 53px;

        .pets__card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $color-light-s;
            width: 270px;
            border-radius: 9px;
            margin-right: 90px;

            &:last-child{
                margin-right: 0;
            }
        
            &__img{
                width: 270px;
                height: 270px;
            }
        
            &__content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
        
                .pets__card__name{
                    margin: 30px 0 30px 0;
                    @include h4;
                }
            }
        }
    }
}






