.footer{
    background: $footer-gradient-background;
}

.footer__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 40px;
}

.footer__contacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @include h3;
}

.footer__info{
    display: flex;
    justify-content: start;
    align-items: center;
    @include h4;
    color: $color-primary;
}

.footer__ico{
    padding-right: 20px;

    >.footer__link{
        text-decoration: none;
    }
}

.footer__email{
    margin-top: 40px;
    margin-bottom: 35px;
}

.footer__location{
    margin: 34px 0 32px 0;
}

.footer_text{
    display: flex;
    max-width: 260px;
    @include h4;
    color: $color-primary;
}

.contacts{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 0.06em;
    color: $color-light-xl;
    padding-top: 16px;
}

.contacts_first{
    width: 279px;
}

.contacts_second{
    width: 302px;
}

.footer__img{
    width: 300px;
    height: 310px;
}