.header{
    position: sticky;
}
.logo {
    display: flex;
    flex-direction: column;

    &__title {
        color: $color-dark-l;
        @include logo-title;
        margin-bottom: 10px;
    }
    
    &__subtitle {
        color: $color-dark-3xl;
        @include logo-subtitle;
        margin-left: 4px;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    //width: 100%;
    @include paragraph-i;
    color: $color-dark-l;
    margin: 0;
    box-sizing: border-box;

    &__link{
        list-style: none;
        cursor: pointer;
        margin-right: 35px;
        &_active{
            border-bottom: 3px solid $color-primary ;
            color: $color-dark-3xl;
        }
    }
}

.navigation__link:last-child{
    margin-right: 0;
}