* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.6rem;
  letter-spacing: 0.06rem;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  transition: background-image 1s ease-in-out;
  color: white;
}

.overlay
{
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(170, 133, 133, 0.4);
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

header{
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  background:  rgba(48, 48, 48, 0.4);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  @media screen and (max-width: 768px){
    padding-bottom: 15rem;
  }
}

.info{
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  margin-right: 1.5rem;
}

.location{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.wrapper_location{
  margin-bottom: 2rem;
}

.ico__wrapper{
  display: flex;
}

.location__ico{
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(./assets/images/icons/location-32.svg);
  background-size: cover;
  margin-right: 1rem;
}

.time__ico{
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(./assets/images/icons/calendar-32.svg);
  background-size: cover;
  margin-right: 1rem;
}

.wind__ico{
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(./assets/images/icons/wind-32.svg);
  background-size: cover;
  margin-right: 1rem;
}

.humidity__ico{
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(./assets/images/icons/humidity-32.png);
  background-size: cover;
  margin-right: 1rem;
}

.humidity, .wind{
  font-size: 1.6rem;
}

.temp_ico{
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(./assets/images/icons/temperature-32.svg);
  background-size: cover;
}

.weather{
  display: flex;
  align-items: flex-end;
}

.icon_block{
  display: flex;
  flex-direction: column;
  width: 90px;
}

.temperature_icon{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 1.5rem;
}

.weather-icon{
  font-size: 50px;
  color: beige;
}

.city{
  display: inline;
  font-size: 2.5rem;
}

.temperature{
  font-size: 1.6rem;
}

.dop_info{
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
}

.wind{
  margin-bottom: 10px;
}

.weather-description{
  /*margin-top: 0.5rem;*/
  font-size: 1.4rem;
}

.time {
  font-family: 'Times New Roman', Times, serif;
  font-size: 6rem;
}

.dmy{
  font-size: 1.4rem;
}

.user__greeting{
  margin-bottom: 3rem;
  font-size: 2rem;
  display: flex;
  margin: 4rem 0;
}

.user__focus{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.focus{
  margin-top: 1rem;
}

.greeting{
  margin-right: 0.5rem;
}

.quotation__block{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 1.5rem;
  width: 60rem;
  height: 15rem;
}

.quotation{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  user-select: none;

  padding-right: 1.5rem;
}

.quotation_text{
  font-size: 1.4rem;
  height: 4rem;
  overflow: hidden;
}

.author{
  font-size: 1.4rem;
}

.quotation_btn{
  width: 3rem;
  height: 3rem;
  border: 0;
  border-radius: 50%;
  background-image: url(./assets/images/icons/update_2-64.svg);
  background-size: contain;
  background-repeat: no-repeat;
  outline: 0;
  user-select: none;
  margin-top: 1rem;
  filter: grayscale();
}
.quotation_btn:hover{
  cursor: pointer;
  transition: 1s;
  transform: translateY(2px);
  filter: saturate(150%);
}

.quotation_btn_block{
  width: 3.2rem;
  position: static;
}

[data-title] {
  position: relative; /* Относительное позиционирование */ 
}

[data-title]::after {
  content: attr(data-title); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  width: 100px; /* Ширина подсказки */
  right: 20px; top: 0; /* Положение подсказки */
  background: white; /* Синий цвет фона */
  color: black; /* Цвет текста */
  padding: 0.5em; /* Поля вокруг текста */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
  pointer-events: none; /* Подсказка */
  opacity: 0; /* Подсказка невидима */
  transition: 1s; /* Время появления подсказки */
}
[data-title]:hover::after {
  opacity: 1; /* Показываем подсказку */
  top: 2em; /* Положение подсказки */
 }

.error{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 2rem;
  color: red;
  visibility: hidden;
}

.error__visibility{
  visibility: visible;
}

.content{
  width: 100%;
  position: fixed;
  left: 0;
  top: 21rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  height: 30rem;
}

.name{
  word-wrap: break-word;
  max-width: 15rem;
  text-align: left;
}

.btn {
  width: 60px;
  height: 60px;
  border: 0;
  background: url(./assets/images/icons/update_2-64.svg);
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin: 10px;
}
.btn:hover {
  filter: grayscale(.8);
  cursor: pointer;
  transition: 1s;
  transform: translateY(2px);
  filter: saturate(150%);
}
.btn:active,
.btn:focus {
  outline: 0;
}
.btn:active{
  transform: scale(1.02)
}
@media screen and (max-width: 768px) {
  .quotation{
    width: 40rem;
    display: flex;
    justify-content: end;
    align-items: center;
    user-select: none;
  }
  .weather{
    width: 25rem;
  }
  .content{
    top: 35rem;
    bottom: 35rem;
  }
}
@media screen and (max-width: 720px) {
  .quotation{
    width: 28rem;
    display: flex;
    justify-content: end;
    align-items: center;
    user-select: none;
  }
  .content{
    bottom: 1rem;
  }
}
@media screen and (max-width: 600px) {
  
  header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 28rem;
    justify-content: space-between;
    padding-top: 2rem;
    overflow: hidden;
  }

  .content{
    top: 29rem;
    bottom: 3rem;
  }

  .info{
    margin-bottom: 2rem;
    height: 15rem;
  }

  .time__wrapper{
    max-width: 180px;
  }

  .time {
    font-size: 3rem;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .quotation{
    width: 50rem;
    display: flex;
    justify-content: end;
    align-items: center;
    user-select: none;
  }

  .quotation__block{
    width: 100%;
    height: 15rem;
    padding: 0 1.5rem;
  }


  @media screen and (max-width: 320px) {
    .quotation{
      width: 28rem;
      display: flex;
      justify-content: end;
      align-items: center;
      user-select: none;
      font-size: 1rem;
    }
  }

}

