*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, darkGray, whiteSmoke);
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid gainsboro;
  outline: none;
  background-color: lightSlateGray;
}

.calculator-grid > button:hover {
  background-color: darkGray;
  transition: all 0.7s;
}

.span-two {
  grid-column: span 2;
}
.span-three {
  grid-column: span 3;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.instruction{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-top: 100px;
  width: 500px;
  height: 500px;
  background-image: url(/assets/note.png);
}

.instruction__note{
  width: 450px;
  height: 300px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  color: black;
}

.li{
  margin-top: 10px;
}