%display-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

%display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%font-add{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
