.button{
    border-radius: 100px;
    border: none;
    padding: 15px 45px;
    background-color: $color-primary;
    font-family: Georgia, sans-serif;
}

.hero__button{
    margin-top: 42px;
    width: 207px;
}