@import "abstracts/constants";

//Base
@import "base/base";
@import "base/buttons";

//Layout
@import "layout/wrapper";
@import "layout/header";
@import "layout/footer";

//Components
@import "components/pets";



* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}