html{
    font-size: 10px;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1,6rem;
    line-height: 1.2;
    font-weight: normal;
    color: #4E4E4E;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #373737;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #373737;
}
.main{
    background: url(../assets/bg-image.png) no-repeat center;
    background-size: cover;
}
.wrapper{
    max-width: 1280px;
    margin: auto;
}

/* header styles start*/

.header{
    height: 95px;
    padding: 25px 0 25px 0;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    display: flex;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    line-height: 1.4rem;
}
.list__item{
    list-style: none;
    padding: 0 85px;
}
.list__item:last-child .list__item:first-child{
    padding: 0px;
}
.header-navigation__left{
    display: flex;
}
.header__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.8;
}
.header__link-about{
        border-bottom: 1px solid #FFFFFF; 
        opacity: 1; 
        padding-bottom: 1px;
}
.header__link-logo{
opacity: 1;
}
.header__link:hover, .header__link:focus, .header__link:active{
    opacity: 1;
}

.header__logo-pic{
    width: 44px;
    height: 44px;
}

/*header styles end*/

/*intro styles start*/

.intro{
    text-align: center;
}
.intro__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 275px;
    margin-right: 275px;
}
.intro__subtitle{
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    max-width: 504px;
    text-align: center;
    margin-left: 388px;
    margin-right: 388px;
    margin-bottom: 30px;
}
.intro-button{
    margin-bottom: 183px;
}
.button{
    font-family: 'Roboto', sans-serif;
    padding: 15px 47px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #FFFFFF;
    background: #00AFDB;
    border: 0;
}

.button:hover, .button:focus, .button:active{
    background: #009CC2;
}

.intro-wrapper{
    justify-content: center;
}

/*intro styles end*/

/*social styles start*/

.socials__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social__item{
    margin-right: 30px;
    list-style: none;
}

.social__link{
    text-decoration: none;
    width: 20px;
    height: 20px;
}

.social__img{
    width: 20px;
    height: 20px;
}

.social__nav{
    justify-content: space-between;
    padding-bottom: 90px;
}
.social__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 1;
}
.social__link:hover, .header__link:focus, .header__link:active{
    opacity: 0.8;
}
/*social styles end*/

/*rappresent styles start*/

.rappresent, .implemet, .community, .download{
    background: #FFFFFF;
    background-size: cover;
    padding: 0;
}
.rappresent__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0;

}
.rappresent__content{
    padding-right: 248px;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 140%;
    padding-top: 30px;
    color: #4E4E4E;
}
.rappresent__image{
    width: 407px;
    height: 582px;
}
/*rappresent styles end*/

/*community start*/

.community__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.community__slider{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/*community end*/

/*implement start*/

.implement__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*implement end*/


/*sign-up start*/
.sign-up{
    background: url(../assets/sign_up.png) no-repeat center;
    background-size: cover;
}
.sign-up__button{
    width: 66px;
    height: 46px;
}
.sign-up__wrapper{
    padding: 200px 0 220px 0;
}
.sign-up__svg{
    padding: 16px 25px;
}
.sign-up__text{
    color: #FFFFFF;
    text-align: center;
}
.sign-up__form{
    padding: 30px 0;
}
.sign-up__field{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*sign-up end*/

/*download start*/
.download__wrapper{
    justify-content: center;
    align-items: center;
    padding: 120px 0 180px 0;
}
.download-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.download-text{
    margin-top: 20px;
}
.download-buttons{
    margin-top: 30px;
}
.button__apple{
    margin-right: 30px;
}
.icon{
    width: 59px;
    height: 46px;
    background: #009CC2;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
    padding: 13px 21px;

}
.button__ico{
    display: flex;
    padding: 15px 18px;
}
/*download end*/

/*footer*/

.footer{
    background: url(../assets/footer.png) no-repeat center;
    background-size: cover;

}
/*footer end*/
