//@import "base/normalize";

//abstracts
@import "abstracts/constants";
@import "abstracts/placeholders";
@import "abstracts/mixins";

//Base
@import "base/base";
@import "base/buttons";

//Layout
@import "layout/wrapper";
@import "layout/header";
@import "layout/footer";
@import "layout/colunms";

//Components
@import "components/hero";
@import "components/about";
@import "components/pets";
@import "components/help";
@import "components/donation";


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.background{
    background: $start-screen-gradient-background;
}

